<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Register</h1>
            </div>

            <div class="form-label-group">
                <input formControlName="displayName" type="text" id="inputDisplayName" class="form-control"
                    placeholder="Name">
                <label for="inputDisplayName">Name</label>
                <span class="text-danger" *ngIf="regFormControl.displayName.invalid 
                  && regFormControl.displayName.touched
                    && regFormControl.displayName.errors?.required">
                    User name is required
                </span>
                <span class="text-danger" *ngIf="regFormControl.displayName.errors?.pattern && regFormControl.displayName.touched">
                    User name must be alphanumeric
                </span>
            </div>

            <div class="form-label-group">
                <input formControlName="email" type="email" id="inputEmail" class="form-control"
                    placeholder="Email address">
                <label for="inputEmail">Email address</label>
                <span class="text-danger" *ngIf="regFormControl.email.invalid 
                && regFormControl.email.touched
                 && regFormControl.email.errors?.required">
                    Email address is required
                </span>
                <span class="text-danger" *ngIf="regFormControl.email.invalid 
                && regFormControl.email.touched
                && regFormControl.email.errors?.email">
                    Email address is not valid
                </span>
                <span class="text-danger" *ngIf="regFormControl.email.errors?.emailexists">
                    Email address is in use
                </span>
            </div>

            <div class="form-label-group">
                <input formControlName="password" type="password" id="inputPassword" class="form-control"
                    placeholder="Password">
                <label for="inputPassword">Password</label>
                <span class="text-danger" *ngIf="regFormControl.password.invalid 
                && regFormControl.password.touched
                && regFormControl.password.errors?.required">
                    Password is required
                </span>
                <span class="text-danger" *ngIf="regFormControl.password.errors?.pattern && regFormControl.password.touched">
                    Password must have 1 Uppercase, 1 lowercase, 1 number, 1 symbol
                </span>
            </div>
            <button [disabled]="registerForm.invalid" class="btn btn-lg btn-primary btn-block"
                type="submit">Register</button>
        </form>
    </div>
</div>